<appSettings>
	<add key="ida:AppID" value="5c4c26bb-c582-4e7f-a898-7fe7d492f577" />
	<add key="ida:AppSecret" value="6Z.XhaUw_M0bOIt~M9dXd_J1ZCAkDq48j-" />
	<add key="ida:RedirectUri" value="https://sendteammessage.azurewebsites.net/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read Mail.read ChannelMessage.Send ChatMessage.Send Chat.ReadWrite offline_access" />
</appSettings>